Repository ColeMorton/sensylate: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint-frontend, feature-flag-validation

.pre-commit-config.yaml:

# Pre-commit configuration for Sensylate multi-component system
# Enforces code quality for Python data processing and TypeScript frontend

repos:
  # Python code quality
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: ^scripts/.*\.py$
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^scripts/.*\.py$
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: ^scripts/.*\.py$
        args: ["--max-line-length=120", "--extend-ignore=E203,W503,E501,E402"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.0
    hooks:
      - id: mypy
        files: ^scripts/.*\.py$
        additional_dependencies: [types-PyYAML, pandas-stubs, types-requests]
        args: ["--config-file=mypy.ini"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        files: ^scripts/.*\.py$
        args: ["-r", "-f", "json", "--skip", "B404,B603,B607"]
        exclude: ^scripts/.*test.*\.py$

  # Frontend TypeScript/JavaScript quality
  - repo: local
    hooks:
      - id: prettier-frontend
        name: prettier (frontend)
        entry: bash -c 'cd frontend && yarn format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md|astro)$
        pass_filenames: false

      - id: eslint-frontend
        name: eslint (frontend)
        entry: bash -c 'cd frontend && yarn lint'
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: feature-flag-validation
        name: feature flag consistency validation
        entry: bash -c 'cd frontend && yarn flags:validate-quick'
        language: system
        files: ^frontend/(\.env\.|netlify\.toml|src/config/feature-flags\.config\.ts|astro\.config\.mjs)
        pass_filenames: false
        verbose: true

  # YAML configuration validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^configs/.*\.yaml$
        args: ["-d", "relaxed"]

  # General file formatting and validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/.*\.(md|mdx)$
      - id: end-of-file-fixer
        exclude: ^frontend/.*\.(md|mdx)$
      - id: check-yaml
        files: ^configs/.*\.yaml$
      - id: check-json
        files: ^frontend/src/config/.*\.json$
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # Security scanning for dependencies
  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: requirements.*\.txt$

# Configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: "3.3.0"

# Performance optimization
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Update stock data pipeline and consolidate chart configuration
  frontend/public/data/raw/stocks/AAPL/daily.csv
  frontend/public/data/raw/stocks/MSTR/daily.csv
  frontend/src/config/chart-data-dependencies.json
  frontend/src/config/symbol-metadata.json
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/test/integration/chart-config-integration.test.tsx
  frontend/tsconfig.tsbuildinfo
  scripts/copy_stock_data.py
  tests/test_config_consolidation.py
Due: prettier-frontend, eslint-frontend

Apply code formatting and linting fixes
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/test/integration/chart-config-integration.test.tsx
  frontend/tsconfig.tsbuildinfo
  scripts/copy_stock_data.py
  tests/test_config_consolidation.py
Due: prettier-frontend, eslint-frontend

Update copy_stock_data.py
  scripts/copy_stock_data.py
Due: none

Fix chart height issues on charts page by improving container structure
  data/outputs/photo-booth/portfolio_analysis_dark_4x3_svg_300dpi_20250821_193905.svg
  data/outputs/photo-booth/portfolio_analysis_light_16x9_png_150dpi_20250821_205554.png
  data/outputs/photo-booth/portfolio_history_portrait_dark_16x9_png_300dpi_20250821_195115.png
  data/outputs/photo-booth/portfolio_history_portrait_dark_16x9_png_300dpi_20250822_081659.png
  data/outputs/photo-booth/portfolio_history_portrait_light_16x9_png_150dpi_20250821_205621.png
  data/outputs/photo-booth/portfolio_history_portrait_light_16x9_png_300dpi_20250821_195106.png
  data/outputs/photo-booth/portfolio_history_portrait_light_16x9_png_300dpi_20250822_081649.png
  data/outputs/photo-booth/trading_performance_light_16x9_png_150dpi_20250821_193819.png
  data/outputs/photo-booth/trading_performance_light_16x9_png_150dpi_20250821_205509.png
  docs/04-photo-booth-dashboard.md
  frontend/ChartDisplay.tsx.backup
  frontend/netlify.toml.backup
  frontend/src/config/photo-booth.json
  frontend/src/content/dashboards/portfolio-analysis.mdx
  frontend/src/content/dashboards/portfolio-history-portrait.mdx
  frontend/src/content/dashboards/trading-performance.mdx
  frontend/src/layouts/components/charts/ChartContainer.tsx
  frontend/src/pages/api/dashboards.json.ts
  frontend/src/test/components/PhotoBoothDisplay.test.tsx
  frontend/src/test/e2e/photo-booth-e2e.test.ts
  frontend/src/test/e2e/visual-regression.test.ts
  frontend/src/test/photo-booth/e2e/aspect-ratio.test.ts.backup
  frontend/src/test/photo-booth/e2e/error-handling.test.ts.backup
  frontend/src/test/photo-booth/e2e/photo-booth-e2e.test.ts.backup
  frontend/src/test/photo-booth/e2e/visual-regression.test.ts.backup
  frontend/tsconfig.tsbuildinfo
Due: prettier-frontend, eslint-frontend, feature-flag-validation

chore: Apply pre-commit hook formatting fixes
  data/outputs/photo-booth/portfolio_analysis_dark_4x3_svg_300dpi_20250821_193905.svg
  docs/04-photo-booth-dashboard.md
  frontend/src/config/photo-booth.json
  frontend/src/content/dashboards/portfolio-analysis.mdx
  frontend/src/content/dashboards/portfolio-history-portrait.mdx
  frontend/src/content/dashboards/trading-performance.mdx
  frontend/tsconfig.tsbuildinfo
Due: prettier-frontend

Implement comprehensive TDD test coverage for optimized multi-stock chart system
  frontend/public/data/raw/stocks/AAPL/daily.csv
  frontend/public/data/raw/stocks/NIO/daily.csv
  frontend/public/data/raw/stocks/XPEV/daily.csv
  frontend/src/config/chart-data-dependencies.json
  frontend/src/content/pages/charts.mdx
  frontend/src/hooks/useEnhancedPortfolioData.ts
  frontend/src/hooks/usePortfolioData.ts
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/layouts/shortcodes/ChartDisplay.tsx
  frontend/src/test/__mocks__/multi-stock-data.mock.ts
  frontend/src/test/components/PortfolioChart.test.tsx
  frontend/src/test/fixtures/chart-data/nio-daily.csv
  frontend/src/test/fixtures/chart-data/xpev-daily.csv
  frontend/src/test/hooks/usePortfolioData.test.tsx
  frontend/src/test/integration/multi-stock-chart-integration.test.tsx
  frontend/src/test/services/ChartDataService.test.tsx
  frontend/src/types/ChartTypes.ts
  frontend/tsconfig.tsbuildinfo
Due: prettier-frontend, eslint-frontend

Add samePercentageScale parameter to multi-stock-price charts
  frontend/src/config/chart-data-dependencies.json
  frontend/src/content/pages/charts.mdx
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/layouts/shortcodes/ChartDisplay.tsx
  frontend/src/types/ChartTypes.ts
Due: prettier-frontend, eslint-frontend

Add pinned cards feature with scroll-based animation system
  frontend/src/content.config.ts
  frontend/src/content/blog/healthcare-sector-analysis-20250818.md
  frontend/src/content/blog/tsla-vs-nio-comparative-analysis-20250819.md
  frontend/src/content/blog/xpev-vs-nio-comparative-analysis-20250820.md
  frontend/src/layouts/components/PinnedCards.astro
  frontend/src/layouts/helpers/HomepageScrollManager.tsx
  frontend/src/layouts/helpers/PinnedCardsHandler.tsx
  frontend/src/layouts/helpers/ScrollFadeHandler.tsx
  frontend/src/pages/index.astro
Due: prettier-frontend, eslint-frontend

Refactor homepage scroll animation system with enhanced galaxy controls
  frontend/src/layouts/helpers/GalaxyAnimation.tsx
  frontend/src/layouts/helpers/HomepageScrollManager.tsx
  frontend/src/layouts/helpers/ScrollFadeHandler.tsx
  frontend/src/pages/index.astro
Due: prettier-frontend, eslint-frontend

Optimize galaxy animation component with React.memo and useCallback
  frontend/src/layouts/helpers/GalaxyAnimation.tsx
  frontend/src/layouts/helpers/HomepageScrollManager.tsx
Due: prettier-frontend, eslint-frontend

Add dynamic text randomization and enhanced animation control
  frontend/src/layouts/helpers/DynamicHomepageHook.tsx
  frontend/src/layouts/helpers/HomepageScrollManager.tsx
  frontend/src/layouts/helpers/ScrollFadeHandler.tsx
  frontend/src/pages/index.astro
  frontend/tsconfig.tsbuildinfo
Due: prettier-frontend, eslint-frontend

Enhance PinnedCards animation with sequential timing and improved effects
  frontend/src/layouts/components/PinnedCards.astro
Due: prettier-frontend

Refine component shadows and optimize animations
  frontend/src/layouts/components/BlogCard.astro
  frontend/src/layouts/components/CalculatorCard.astro
  frontend/src/layouts/components/ChartCard.astro
  frontend/src/layouts/components/PinnedCards.astro
  frontend/src/layouts/helpers/DynamicHomepageHook.tsx
  frontend/src/layouts/helpers/GalaxyAnimation.tsx
  frontend/src/layouts/helpers/HomepageScrollManager.tsx
Due: prettier-frontend, eslint-frontend

Update astro.config.mjs
  frontend/astro.config.mjs
Due: feature-flag-validation

Add chart debugging infrastructure and fix Plotly integration
  frontend/debug-chart-issue/chart-issue-snapshot.html
  frontend/debug-chart-issue/chart-issue-state.png
  frontend/debug-chart-issue/debug-report.json
  frontend/debug-chart-issue/fixed-import-test.png
  frontend/scripts/debug-chart-loading-issue.js
  frontend/scripts/test-fixed-import.js
  frontend/scripts/test-plotly-import.js
  frontend/src/hooks/usePortfolioData.ts
  frontend/src/layouts/components/charts/ChartRenderer.tsx
  frontend/src/test/hooks/usePortfolioData.test.tsx
  frontend/src/test/integration/multi-stock-chart-integration.test.tsx
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  frontend/vitest.unit.config.ts
Due: prettier-frontend, eslint-frontend

Fix contact form email delivery configuration
  frontend/src/config/config.json
  frontend/src/pages/contact.astro
Due: prettier-frontend

Unpin blog posts for improved content rotation
  frontend/src/content/blog/healthcare-sector-analysis-20250818.md
  frontend/src/content/blog/tsla-vs-nio-comparative-analysis-20250819.md
  frontend/src/content/blog/xpev-vs-nio-comparative-analysis-20250820.md
Due: prettier-frontend

Add comprehensive fundamental analysis dashboard system
  data/outputs/photo-booth/fundamental_analysis_dark_3x4_png_300dpi_20250827_170856.png
  data/outputs/photo-booth/fundamental_analysis_light_3x4_png_300dpi_20250827_170058.png
  data/outputs/photo-booth/fundamental_analysis_light_3x4_png_300dpi_20250827_170147.png
  frontend/package.json
  frontend/public/api/dashboards.json
  frontend/src/config/photo-booth.json
  frontend/src/content/blog/healthcare-sector-analysis-20250818.md
  frontend/src/content/blog/trading-performance-historical-20250808.md
  frontend/src/content/blog/tsla-vs-nio-comparative-analysis-20250819.md
  frontend/src/content/blog/xpev-vs-nio-comparative-analysis-20250820.md
  frontend/src/content/dashboards/fundamental-analysis.mdx
  frontend/src/layouts/components/ErrorBoundary.tsx
  frontend/src/layouts/components/charts/FundamentalCharts.tsx
  frontend/src/layouts/components/fundamentals/FundamentalAnalysisDashboard.tsx
  frontend/src/layouts/components/fundamentals/MetricCard.tsx
  frontend/src/layouts/components/fundamentals/ProgressBar.tsx
  frontend/src/layouts/components/fundamentals/ProsCons.tsx
  frontend/src/layouts/components/fundamentals/QualityRating.tsx
  frontend/src/layouts/helpers/PlotlyChart.tsx
  frontend/src/layouts/shortcodes/ChartDisplay.tsx
  frontend/src/layouts/shortcodes/PhotoBoothDisplay.tsx
  frontend/src/lib/dashboardLoader.ts
  frontend/src/pages/api/dashboards.json.ts
  frontend/src/pages/fundamental-analysis/[ticker].astro
  frontend/src/services/dashboardLoader.ts
  frontend/src/styles/components.css
  frontend/src/test/mocks/dashboard.mock.ts
  frontend/src/test/mocks/fundamentalAnalysis.mock.ts
  frontend/src/test/photo-booth/__mocks__/dashboard-loader.mock.ts
  frontend/src/types/ChartTypes.ts
  scripts/export_with_server.sh
  scripts/photo_booth_generator.py
Due: prettier-frontend, eslint-frontend

Add comprehensive NVDA vs TSM comparative analysis with full data pipeline
  data/outputs/comparative_analysis/NVDA_vs_TSM_20250828.md
  data/outputs/comparative_analysis/analysis/NVDA_vs_TSM_20250828_analysis.json
  data/outputs/comparative_analysis/discovery/NVDA_vs_TSM_20250828_discovery.json
  data/outputs/comparative_analysis/validation/NVDA_vs_TSM_20250828_validation.json
  data/outputs/fundamental_analysis/AAPL_20250828.md
  data/outputs/fundamental_analysis/analysis/AAPL_20250828_analysis.json
  data/outputs/fundamental_analysis/discovery/AAPL_20250828_discovery.json
  data/outputs/fundamental_analysis/validation/AAPL_20250828_validation.json
  data/outputs/twitter/comparative_analysis/NVDA_vs_TSM_20250828.md
  data/outputs/twitter/comparative_analysis/NVDA_vs_TSM_20250828_metadata.json
  data/outputs/twitter/fundamental_analysis/NVDA_vs_TSM_20250828.md
  data/outputs/twitter/fundamental_analysis/NVDA_vs_TSM_20250828_enhanced.md
  data/outputs/twitter/fundamental_analysis/NVDA_vs_TSM_20250828_metadata.json
  data/outputs/twitter/fundamental_analysis/validation/NVDA_vs_TSM_20250828_validation_enhanced.json
  frontend/public/images/comparative_analysis/NVDA_vs_TSM_20250828.png
  frontend/src/content/blog/nvda-vs-tsm-comparative-analysis-20250828.md
  frontend/src/layouts/PostSingle.astro
  frontend/src/layouts/components/BlogCard.astro
  frontend/src/layouts/components/Breadcrumbs.astro
  frontend/src/layouts/components/CalculatorCard.astro
  frontend/src/layouts/components/PinnedCards.astro
  frontend/src/layouts/components/Social.astro
  frontend/src/layouts/helpers/DynamicHomepageHook.tsx
  frontend/src/layouts/partials/Footer.astro
  frontend/src/layouts/partials/Header.astro
  frontend/src/layouts/partials/PostSidebar.astro
  frontend/src/pages/categories/index.astro
  frontend/src/pages/contact-success.astro
  frontend/src/pages/tags/index.astro
  frontend/src/styles/navigation.css
Due: prettier-frontend, eslint-frontend

Add fundamental analysis outputs for GDS, MP, RGTI, and SFTBY
  data/outputs/fundamental_analysis/GDS_20250829.md
  data/outputs/fundamental_analysis/MP_20250829.md
  data/outputs/fundamental_analysis/RGTI_20250829.md
  data/outputs/fundamental_analysis/analysis/GDS_20250829_analysis.json
  data/outputs/fundamental_analysis/analysis/MP_20250829_analysis.json
  data/outputs/fundamental_analysis/analysis/SFTBY_20250829_analysis.json
  data/outputs/fundamental_analysis/discovery/GDS_20250829_discovery.json
  data/outputs/fundamental_analysis/discovery/MP_20250829_discovery.json
  data/outputs/fundamental_analysis/discovery/SFTBY_20250829_discovery.json
  data/outputs/fundamental_analysis/validation/GDS_20250829_validation.json
  data/outputs/fundamental_analysis/validation/MP_20250829_validation.json
  data/outputs/fundamental_analysis/validation/analysis_cross_analysis_20250829_131408_validation.json
  data/outputs/fundamental_analysis/validation/analysis_cross_analysis_20250829_validation.json
Due: none

Clean up outdated outputs and add comprehensive Bitcoin documentation
  data/outputs/photo-booth copy/portfolio_history_portrait_light_16x9_png_150dpi_20250808_084449.png
  data/outputs/photo-booth copy/portfolio_history_portrait_light_3x4_png_150dpi_20250808_084133.png
  data/outputs/photo-booth copy/portfolio_history_portrait_light_3x4_png_300dpi_20250808_090857.png
  data/outputs/photo-booth copy/portfolio_history_portrait_light_4x3_png_150dpi_20250808_084511.png
  docs/bitcoin-data-sources-comprehensive-guide.md
  docs/bitcoin-intelligence-report-suite.md
  frontend/src/layouts/components/Breadcrumbs.astro
  frontend/src/lib/dashboardLoader.ts
Due: prettier-frontend, eslint-frontend

Apply pre-commit formatting fixes to fundamental analysis files
  data/outputs/fundamental_analysis/GDS_20250829.md
  data/outputs/fundamental_analysis/MP_20250829.md
  data/outputs/fundamental_analysis/RGTI_20250829.md
  data/outputs/fundamental_analysis/analysis/GDS_20250829_analysis.json
  data/outputs/fundamental_analysis/analysis/MP_20250829_analysis.json
  data/outputs/fundamental_analysis/analysis/SFTBY_20250829_analysis.json
  data/outputs/fundamental_analysis/discovery/GDS_20250829_discovery.json
  data/outputs/fundamental_analysis/discovery/MP_20250829_discovery.json
  data/outputs/fundamental_analysis/discovery/SFTBY_20250829_discovery.json
  data/outputs/fundamental_analysis/validation/GDS_20250829_validation.json
  data/outputs/fundamental_analysis/validation/MP_20250829_validation.json
  data/outputs/fundamental_analysis/validation/analysis_cross_analysis_20250829_131408_validation.json
  data/outputs/fundamental_analysis/validation/analysis_cross_analysis_20250829_validation.json
Due: none

Add hover enlarge effects to Share and Support icons
  frontend/src/layouts/components/Share.astro
  frontend/src/layouts/components/Support.astro
Due: prettier-frontend

Fix Netlify build error by removing invalid layout field from fundamental-analysis.mdx
  frontend/src/content/dashboards/fundamental-analysis.mdx
Due: none

Remove test page importing mock data to fix production build
  frontend/src/pages/fundamental-analysis/[ticker].astro
Due: prettier-frontend

Fix production build by conditionally importing mock data
  frontend/src/layouts/shortcodes/ChartDisplay.tsx
  frontend/src/layouts/shortcodes/PhotoBoothDisplay.tsx
Due: prettier-frontend, eslint-frontend

Add comprehensive financial analysis outputs and documents
  data/outputs/comparative_analysis/MA_vs_V_20250901.md
  data/outputs/comparative_analysis/analysis/MA_vs_V_20250901_analysis.json
  data/outputs/comparative_analysis/discovery/MA_vs_V_20250901_discovery.json
  data/outputs/comparative_analysis/validation/MA_vs_V_20250901_validation.json
  data/outputs/fundamental_analysis/ABT_20250831.md
  data/outputs/fundamental_analysis/ANET_20250831.md
  data/outputs/fundamental_analysis/CMCSA_20250903.md
  data/outputs/fundamental_analysis/FCX_20250903.md
  data/outputs/fundamental_analysis/IONQ_20250903.md
  data/outputs/fundamental_analysis/MA_20250831.md
  data/outputs/fundamental_analysis/analysis/ABT_20250831_analysis.json
  data/outputs/fundamental_analysis/analysis/ANET_20250831_analysis.json
  data/outputs/fundamental_analysis/analysis/CMCSA_20250903_analysis.json
  data/outputs/fundamental_analysis/analysis/IONQ_20250903_analysis.json
  data/outputs/fundamental_analysis/analysis/MA_20250831_analysis.json
  data/outputs/fundamental_analysis/discovery/ABT_20250831_discovery.json
  data/outputs/fundamental_analysis/discovery/ANET_20250831_discovery.json
  data/outputs/fundamental_analysis/discovery/CMCSA_20250903_discovery.json
  data/outputs/fundamental_analysis/discovery/IONQ_20250903_discovery.json
  data/outputs/fundamental_analysis/discovery/MA_20250901_discovery.json
  data/outputs/fundamental_analysis/validation/ABT_20250831_validation.json
  data/outputs/fundamental_analysis/validation/ANET_20250831_validation.json
  data/outputs/fundamental_analysis/validation/CMCSA_20250903_validation.json
  data/outputs/fundamental_analysis/validation/IONQ_20250903_validation.json
  data/outputs/fundamental_analysis/validation/MA_20250831_validation.json
  data/outputs/twitter/comparative_analysis/MA_vs_V_20250901.md
  data/outputs/twitter/comparative_analysis/MA_vs_V_20250901_metadata.json
  data/outputs/twitter/comparative_analysis/NVDA_vs_TSM_20250828.md
  data/outputs/twitter/comparative_analysis/validation/MA_vs_V_20250901_validation_enhanced.json
  frontend/public/CMORTON SEEK Resume.docx
  frontend/public/LinkedIn Profile.pdf
Due: none

Enable feature flag for staging environment
  frontend/src/config/feature-flags.config.ts
Due: prettier-frontend, eslint-frontend, feature-flag-validation

Fix Netlify build memory error with heap optimization and test exclusions
  frontend/astro.config.mjs
  frontend/netlify.toml
Due: feature-flag-validation

Fix Resume page visibility in staging environment
  frontend/netlify.toml.backup
  frontend/src/layouts/partials/Header.astro
  frontend/src/lib/config.ts
Due: prettier-frontend, eslint-frontend, feature-flag-validation

Enable Resume page for production environment
  frontend/netlify.toml
  frontend/netlify.toml.backup
  frontend/src/config/feature-flags.config.ts
  frontend/src/lib/config.ts
Due: prettier-frontend, eslint-frontend, feature-flag-validation

Add comprehensive fundamental analysis outputs and macro reports
  data/outputs/fundamental_analysis/PDD_20250904.md
  data/outputs/fundamental_analysis/VIPS_20250904.md
  data/outputs/fundamental_analysis/analysis/FSLR_20250905_analysis.json
  data/outputs/fundamental_analysis/analysis/PDD_20250904_analysis.json
  data/outputs/fundamental_analysis/analysis/VIPS_20250904_analysis.json
  data/outputs/fundamental_analysis/discovery/DIS_20250905_discovery.json
  data/outputs/fundamental_analysis/discovery/FSLR_20250905_discovery.json
  data/outputs/fundamental_analysis/discovery/PDD_20250904_discovery.json
  data/outputs/fundamental_analysis/discovery/VIPS_20250904_discovery.json
  data/outputs/fundamental_analysis/validation/VIPS_20250904_validation.json
  data/outputs/fundamental_analysis/validation/analysis_cross_analysis_20250904_validation.json
  data/outputs/macro_analysis/analysis/ASIA_20250906_analysis.json
  data/outputs/macro_analysis/analysis/EUROPE_20250905_analysis.json
  data/outputs/macro_analysis/asia_20250906.md
  data/outputs/macro_analysis/discovery/americas_20250906_discovery.json
  data/outputs/macro_analysis/discovery/asia_20250906_discovery.json
  data/outputs/macro_analysis/discovery/europe_20250905_discovery.json
  data/outputs/macro_analysis/europe_20250905.md
  data/outputs/macro_analysis/validation/ASIA_20250906_validation.json
  data/outputs/macro_analysis/validation/europe_20250905_validation.json
  data/outputs/macro_analysis/validation/regional_differentiation_log.json
  frontend/public/images/macro/americas-min.png
  frontend/public/images/macro/asia-min.png
  frontend/public/images/macro/europe-min.png
  frontend/public/images/macro/global-min.png
  frontend/public/images/macro/us-min.png
  frontend/src/content/blog/europe-macro-analysis-20250905.md
  frontend/src/layouts/PostSingle.astro
  frontend/src/styles/utilities.css
Due: prettier-frontend

Add Americas macro analysis and frontend improvements
  data/outputs/macro_analysis/americas_20250906.md
  data/outputs/macro_analysis/analysis/AMERICAS_20250906_analysis.json
  data/outputs/macro_analysis/analysis/ASIA_20250906_analysis.json
  data/outputs/macro_analysis/analysis/US_20250906_analysis.json
  data/outputs/macro_analysis/asia_20250906.md
  data/outputs/macro_analysis/discovery/US_20250906_discovery.json
  data/outputs/macro_analysis/discovery/americas_20250906_discovery.json
  data/outputs/macro_analysis/discovery/asia_20250906_discovery.json
  data/outputs/macro_analysis/metadata/americas_20250906_synthesis_metadata.json
  data/outputs/macro_analysis/validation/ASIA_20250906_validation.json
  data/outputs/macro_analysis/validation/americas_20250906_validation.json
  data/outputs/macro_analysis/validation/regional_differentiation_log.json
  frontend/src/layouts/PostSingle.astro
  frontend/src/layouts/components/BlogCard.astro
  frontend/src/layouts/helpers/ImageLightbox.tsx
  frontend/src/styles/utilities.css
Due: prettier-frontend, eslint-frontend

Configure macro images directory exclusion from large file pre-commit check
  .pre-commit-config.yaml
  frontend/public/images/macro/americas-min.png
  frontend/public/images/macro/asia-min.png
  frontend/public/images/macro/us-min.png
Due: none

Add global macro analysis pipeline and update Twitter validation
  .claude/commands/twitter/fundamental_analysis_validate.md
  .claude/commands/twitter/fundamental_analysis_validate_enhanced.md
  data/outputs/macro_analysis/GLOBAL_20250906.md
  data/outputs/macro_analysis/US_20250906.md
  data/outputs/macro_analysis/analysis/GLOBAL_20250906_analysis.json
  data/outputs/macro_analysis/discovery/global_20250906_discovery.json
  data/outputs/macro_analysis/validation/GLOBAL_20250906_validation.json
  data/outputs/macro_analysis/validation/US_20250906_validation.json
Due: none

Refactor content publisher to macro analysis specialization and clean Bitcoin outputs
  .claude/commands/macro_analysis/publisher.md
  data/outputs/bitcoin_cycle_intelligence/analysis/bitcoin_cycle_20250905_analysis.json
  data/outputs/bitcoin_cycle_intelligence/bitcoin_cycle_20250905.md
  data/outputs/bitcoin_cycle_intelligence/bitcoin_cycle_20250905_data_verification.md
  data/outputs/bitcoin_cycle_intelligence/discovery/bitcoin_cycle_20250905_discovery.json
  data/outputs/bitcoin_cycle_intelligence/validation/bitcoin_cycle_20250905_validation.json
Due: none

Add Bitcoin cycle intelligence data and macro analysis content
  data/outputs/bitcoin_cycle_intelligence/discovery/bitcoin_cycle_20250906_discovery.json
  data/outputs/bitcoin_cycle_intelligence/validation/bitcoin_cycle_20250906_validation.json
  frontend/src/content/blog/americas-macro-analysis-20250906.md
  frontend/src/content/blog/asia-macro-analysis-20250906.md
  frontend/src/content/blog/global-macro-analysis-20250906.md
  frontend/src/content/blog/us-macro-analysis-20250906.md
  templates/analysis/fundamental_analysis_template.md
  templates/analysis/industry_analysis_template.md
  templates/analysis/macro_analysis_template.md
  templates/analysis/sector_analysis_template.md
Due: prettier-frontend
