Repository ColeMorton/sensylate: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint-frontend, feature-flag-validation

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd frontend && yarn format'
  language: system
  pass_filenames: false

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd frontend && yarn lint'
  language: system
  pass_filenames: false

feature-flag-validation:
  name: feature flag consistency validation
  entry: bash -c 'cd frontend && yarn flags:validate-quick'
  language: system
  pass_filenames: false
  verbose: true

Enhance portfolio charts with auto position detection and reduce CLI logging verbosity
  data/outputs/fundamental_analysis/QUBT_20250806.md
  data/outputs/fundamental_analysis/analysis/QUBT_20250806_analysis.json
  data/outputs/fundamental_analysis/discovery/QUBT_20250806_discovery.json
  docs/DATA_SOLUTION_ARCHITECTURE.md
  frontend/public/data/portfolio/closed_positions_pnl_progression.csv
  frontend/public/data/portfolio/open_positions_pnl_current.csv
  frontend/public/data/trade-history/trade_pnl_waterfall_sorted.csv
  frontend/src/content/pages/charts.mdx
  frontend/src/hooks/usePortfolioData.ts
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/layouts/shortcodes/ChartDisplay.tsx
  frontend/src/services/ChartDataService.ts
  frontend/src/types/ChartTypes.ts
  frontend/tsconfig.tsbuildinfo
  scripts/cli_service_script.py
  scripts/cli_wrapper.py
  scripts/config/pipelines/dashboard_generation.yaml
  scripts/data_contract_discovery.py
  scripts/data_pipeline_manager.py
  scripts/script_registry.py
  scripts/utils/logging_setup.py
Due: prettier-frontend, eslint-frontend

Update portfolio data and enhance chart visualization with closed positions PnL progression
  frontend/public/data/portfolio/closed_positions_pnl_progression.csv
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/types/ChartTypes.ts
  scripts/data_pipeline_manager.py
Due: prettier-frontend, eslint-frontend

Add market data and enhance chart system
  frontend/public/data/raw/stocks/BTC-USD/daily.csv
  frontend/public/data/raw/stocks/QQQ/daily.csv
  frontend/public/data/raw/stocks/SPY/daily.csv
  frontend/src/content/pages/charts.mdx
  frontend/src/hooks/usePortfolioData.ts
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/layouts/shortcodes/ChartDisplay.tsx
  frontend/src/services/ChartDataService.ts
  frontend/src/types/ChartTypes.ts
  frontend/tsconfig.tsbuildinfo
Due: prettier-frontend, eslint-frontend

Add market data and enhance chart system
  frontend/public/data/portfolio/live_signals_benchmark_comparison.csv
  frontend/public/data/trade-history/trade_pnl_waterfall_sorted.csv
  frontend/src/hooks/usePortfolioData.ts
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/services/ChartDataService.ts
  frontend/src/types/ChartTypes.ts
  frontend/tsconfig.tsbuildinfo
  scripts/generate_live_signals_benchmark_comparison.py
Due: prettier-frontend, eslint-frontend

Complete implementation: titleOnly feature for Portfolio History Portrait dashboard
  frontend/src/content/pages/charts.mdx
  frontend/src/layouts/components/charts/ChartContainer.tsx
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/layouts/shortcodes/ChartDisplay.tsx
  frontend/src/layouts/shortcodes/PhotoBoothDisplay.tsx
  frontend/src/pages/api/dashboards.json.ts
  frontend/src/types/ChartTypes.ts
  frontend/temp-dashboards/portfolio-history-portrait.mdx
Due: prettier-frontend, eslint-frontend

Clean up trade history data and enhance validation system
  data/outputs/trade_history/analysis/.gitkeep
  data/outputs/trade_history/analysis/live_signals_20250716.json
  data/outputs/trade_history/analysis/live_signals_20250717.json
  data/outputs/trade_history/analysis/live_signals_20250718.json
  data/outputs/trade_history/analysis/live_signals_20250719.json
  data/outputs/trade_history/analysis/live_signals_20250803.json
  data/outputs/trade_history/analysis/live_signals_20250807.json
  data/outputs/trade_history/analyze/manifest.yaml
  data/outputs/trade_history/analyze/outputs/live_signals_20250803.json
  data/outputs/trade_history/discovery/live_signals_20250716.json
  data/outputs/trade_history/discovery/live_signals_20250717.json
  data/outputs/trade_history/discovery/live_signals_20250718.json
  data/outputs/trade_history/discovery/live_signals_20250719.json
  data/outputs/trade_history/discovery/live_signals_20250807.json
  data/outputs/trade_history/validate/manifest.yaml
  data/outputs/trade_history/validate/outputs/live_signals_VALIDATION_REPORT_20250718.json
  data/outputs/trade_history/validate/outputs/live_signals_VALIDATION_REPORT_20250803.json
  data/outputs/trade_history/validation/live_signals_VALIDATION_REPORT_20250718.json
  data/outputs/trade_history/validation/live_signals_VALIDATION_REPORT_20250803.json
  data/outputs/trade_history/validation/live_signals_VALIDATION_REPORT_20250806.json
  docs/DATA_SOLUTION_ARCHITECTURE.md
  frontend/src/config/photo-booth.json
  frontend/src/layouts/shortcodes/PhotoBoothDisplay.tsx
  frontend/src/services/dashboardLoader.ts
  frontend/temp-dashboards/portfolio-history-portrait.mdx
  scripts/trade_history_synthesize.py
  scripts/trade_history_validate.py
Due: prettier-frontend, eslint-frontend

Apply code formatting and fix file endings from pre-commit hooks
  data/outputs/trade_history/analysis/live_signals_20250807.json
  data/outputs/trade_history/discovery/live_signals_20250807.json
  data/outputs/trade_history/validation/live_signals_VALIDATION_REPORT_20250806.json
  docs/DATA_SOLUTION_ARCHITECTURE.md
  scripts/trade_history_synthesize.py
  scripts/trade_history_validate.py
Due: none

Implement comprehensive portfolio analysis system with unified calculation engine
  data/outputs/trade_history/analysis/live_signals_20250807.json
  data/outputs/trade_history/discovery/live_signals_20250807.json
  data/outputs/trade_history/validation/live_signals_VALIDATION_REPORT_20250807.json
  frontend/scripts/comprehensive-charts-test.js
  frontend/src/content/pages/charts.mdx
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/layouts/shortcodes/PhotoBoothDisplay.tsx
  frontend/src/pages/api/dashboards.json.ts
  frontend/src/services/dashboardLoader.ts
  frontend/temp-dashboards/portfolio-analysis.mdx
  frontend/temp-dashboards/portfolio-history-portrait.mdx
  scripts/live_signals_comprehensive_analysis.py
  scripts/trade_history/unified_calculation_engine.py
  scripts/trade_history_validate.py
Due: prettier-frontend, eslint-frontend

Enhance trade history analysis system and visualization pipeline
  .claude/commands/trade_history.md
  .claude/commands/trade_history/analyze.md
  .claude/commands/trade_history/discover.md
  .claude/commands/trade_history/synthesize.md
  .claude/commands/trade_history/validate.md
  data/outputs/photo-booth copy/portfolio_history_portrait_dark_16x9_png_300dpi_20250807_121707.png
  data/outputs/photo-booth copy/portfolio_history_portrait_light_16x9_png_300dpi_20250807_121658.png
  data/outputs/photo-booth/portfolio_analysis_dark_16x9_png_300dpi_20250807_133214.png
  data/outputs/photo-booth/portfolio_analysis_light_16x9_png_300dpi_20250807_133204.png
  data/outputs/photo-booth/portfolio_analysis_light_4x3_png_300dpi_20250805_161359.png
  data/outputs/photo-booth/portfolio_history_portrait_dark_16x9_png_300dpi_20250807_133234.png
  data/outputs/photo-booth/portfolio_history_portrait_light_16x9_png_300dpi_20250807_133226.png
  data/outputs/photo-booth/trading_performance_dark_16x9_png_300dpi_20250807_133155.png
  data/outputs/photo-booth/trading_performance_light_16x9_png_300dpi_20250807_133141.png
  data/outputs/trade_history/analysis/live_signals_20250807.json
  data/outputs/trade_history/discovery/live_signals_20250807.json
  data/outputs/trade_history/validation/live_signals_VALIDATION_REPORT_20250807.json
  frontend/package.json
  frontend/src/layouts/components/charts/ChartContainer.tsx
  frontend/src/layouts/components/charts/ChartRenderer.tsx
  frontend/src/layouts/shortcodes/PhotoBoothDisplay.tsx
  frontend/src/pages/api/process-export.ts
  frontend/src/services/dashboardLoader.ts
  frontend/src/styles/components.css
  frontend/temp-dashboards/portfolio-history-portrait.mdx
  frontend/yarn.lock
  scripts/data_pipeline_manager.py
  scripts/enhance_discovery_market_context.py
  scripts/live_signals_comprehensive_analysis.py
  scripts/metaplanet_discovery.py
  scripts/schemas/trade_history_discovery_schema.json
  scripts/schemas/trade_history_synthesis_schema.json
  scripts/trade_history/unified_calculation_engine.py
  scripts/trade_history_analyze.py
  scripts/trade_history_comprehensive_statistical_analysis.py
  scripts/trade_history_discover.py
  scripts/trade_history_synthesize.py
  scripts/trade_history_validate.py
Due: prettier-frontend, eslint-frontend

Enhance trade history synthesis system with institutional-quality standards
  .claude/commands/trade_history/synthesize.md
  data/outputs/photo-booth copy/portfolio_history_portrait_light_3x4_png_300dpi_20250807_162805.png
  data/outputs/photo-booth copy/portfolio_history_portrait_light_3x4_png_300dpi_20250807_180722.png
  data/outputs/photo-booth/portfolio_analysis_dark_16x9_png_300dpi_20250807_133214.png
  data/outputs/photo-booth/portfolio_analysis_light_16x9_png_300dpi_20250807_133204.png
  data/outputs/photo-booth/portfolio_history_portrait_dark_16x9_png_300dpi_20250807_133234.png
  data/outputs/photo-booth/portfolio_history_portrait_light_16x9_png_300dpi_20250807_133226.png
  data/outputs/photo-booth/trading_performance_dark_16x9_png_300dpi_20250807_133155.png
  data/outputs/photo-booth/trading_performance_light_16x9_png_300dpi_20250807_133141.png
  data/outputs/trade_history/analysis/live_signals_20250807.json
  data/outputs/trade_history/discovery/live_signals_20250807.json
  data/outputs/trade_history/live_signals_20250807.md
  data/outputs/trade_history/synthesis/live_signals_20250807_synthesis.json
  data/outputs/trade_history/validation/live_signals_VALIDATION_REPORT_20250806.json
  data/outputs/trade_history/validation/live_signals_VALIDATION_REPORT_20250807.json
  frontend/package.json
  frontend/src/config/photo-booth.json
  frontend/src/layouts/shortcodes/PhotoBoothDisplay.tsx
  frontend/src/pages/api/export-dashboard.ts
  frontend/src/pages/api/process-export.ts
  frontend/src/styles/components.css
  frontend/tsconfig.tsbuildinfo
  frontend/yarn.lock
  scripts/export_with_server.sh
  scripts/photo_booth_generator.py
  scripts/schemas/trade_history_synthesis_schema.json
  scripts/schemas/trade_history_validation_schema.json
  scripts/templates/shared/macros/trade_history_economic_macro.j2
  scripts/templates/trade_history_enhanced.j2
  scripts/trade_history_analyze.py
  scripts/trade_history_synthesize_enhanced.py
  scripts/trade_history_validate.py
  templates/analysis/trade_history_template.md
Due: prettier-frontend, eslint-frontend

Add comprehensive regional macro-economic analysis system with cross-validation
  .claude/commands/macro_analysis/analyze.md
  data/outputs/macro_analysis/analysis/ASIA_20250806_analysis.json
  data/outputs/macro_analysis/analysis/EUROPE_20250806_analysis.json
  data/outputs/macro_analysis/analysis/US_20250806_analysis.json
  data/outputs/macro_analysis/validation/analysis_cross_analysis_20250808_validation.json
  data/outputs/macro_analysis/validation/regional_differentiation_log.json
  frontend/src/lib/conditionalImports.tsx
  frontend/src/lib/dashboardLoader.ts
  scripts/enhanced_macro_gap_analysis.py
  scripts/macro_analysis_cross_validation.py
  scripts/macro_analyze_data_driven.py
  scripts/macro_analyze_enhanced.py
  scripts/macro_analyze_unified.py
  scripts/macro_discovery.py
  scripts/macro_test_optimizations.py
  scripts/regional_intelligence/__init__.py
  scripts/regional_intelligence/configs/AMERICAS.yaml
  scripts/regional_intelligence/configs/ASIA.yaml
  scripts/regional_intelligence/configs/EUROPE.yaml
  scripts/regional_intelligence/configs/GLOBAL.yaml
  scripts/regional_intelligence/configs/US.yaml
  scripts/regional_intelligence/currency_analyzer.py
  scripts/regional_intelligence/indicator_mapper.py
  scripts/regional_intelligence/regional_loader.py
Due: prettier-frontend, eslint-frontend

Fix remaining code quality issues in macro analyzer
  scripts/macro_analyze_data_driven.py
Due: none

Clean up unused variable assignments in macro analyzer
  scripts/macro_analyze_data_driven.py
Due: none

Add IREN fundamental analysis and comprehensive photo booth testing framework
  .gitignore
  data/outputs/fundamental_analysis/IREN_20250811.md
  data/outputs/fundamental_analysis/analysis/IREN_20250811_analysis.json
  data/outputs/fundamental_analysis/discovery/IREN_20250811_discovery.json
  data/outputs/social-media/trading-performance-historical-20250808-twitter-post.md
  docs/front-end-photo-booth-dashboard-specification.md
  docs/photo-booth-testing-coverage-analysis.md
  frontend/package.json
  frontend/public/api/dashboards.json
  frontend/src/config/feature-flags.config.ts
  frontend/src/layouts/shortcodes/PhotoBoothDisplay.tsx
  frontend/src/lib/config.ts
  frontend/src/test/e2e/error-handling.test.ts
  frontend/src/test/photo-booth/__mocks__/photo-booth-config.mock.ts
  frontend/src/test/photo-booth/__mocks__/setup.tsx
  frontend/src/test/photo-booth/__mocks__/test-data.mock.ts
  frontend/src/test/photo-booth/e2e/advanced-error-scenarios.test.ts
  frontend/src/test/photo-booth/e2e/aspect-ratio.test.ts.backup
  frontend/src/test/photo-booth/e2e/browser-specific.test.ts
  frontend/src/test/photo-booth/e2e/config-hotreload.test.ts
  frontend/src/test/photo-booth/e2e/error-handling.test.ts.backup
  frontend/src/test/photo-booth/e2e/filesystem-integration.test.ts
  frontend/src/test/photo-booth/e2e/globalSetup.ts
  frontend/src/test/photo-booth/e2e/image-validation.test.ts
  frontend/src/test/photo-booth/e2e/performance-benchmarks.test.ts
  frontend/src/test/photo-booth/e2e/photo-booth-e2e-export.test.ts
  frontend/src/test/photo-booth/e2e/photo-booth-e2e.test.ts.backup
  frontend/src/test/photo-booth/e2e/python-integration.test.ts
  frontend/src/test/photo-booth/e2e/real-data-integration.test.ts
  frontend/src/test/photo-booth/e2e/visual-regression.test.ts
  frontend/src/test/photo-booth/e2e/visual-regression.test.ts.backup
  frontend/src/test/photo-booth/integration/workflow.test.tsx
  frontend/src/test/photo-booth/unit/PhotoBoothDisplay.test.tsx
  frontend/src/test/photo-booth/utils/e2e-setup.ts
  frontend/test-photobooth.js
  frontend/vitest.config.ts
  scripts/photo_booth_generator.py
Due: prettier-frontend, eslint-frontend, feature-flag-validation

Enhance system with GenContentOps framework and improved data pipeline
  .claude/commands/documentation_owner.md
  .claude/commands/generative_content_operator.md
  .claude/commands/macro_analysis/analyze.md
  .claude/commands/macro_analysis/discover.md
  .claude/commands/macro_analysis/validate.md
  .claude/commands/twitter/fundamental_analysis.md
  .claude/commands/twitter/sector_analysis.md
  .claude/commands/twitter/trade_history.md
  .claude/commands/twitter/trade_history_post.md
  CLAUDE.md
  data/outputs/macro_analysis/discovery/US_20250812_discovery.json
  data/outputs/twitter/post_strategy/AAPL.md
  data/outputs/twitter/post_strategy/AMD.md
  data/outputs/twitter/post_strategy/COIN.md
  data/outputs/twitter/post_strategy/GD.md
  data/outputs/twitter/post_strategy/GOOGL.md
  data/outputs/twitter/post_strategy/LMT.md
  docs/A Comprehensive Guide to AI-Orchestrated Content Synthesis.md
  docs/AI-Orchestrated-Content-Synthesis-Engine-Overview.md
  docs/AI-orchestrated content creation systems.md
  docs/claude_sub_agents.md
  scripts/deploy_validation_framework.py
  scripts/macro_analyze_unified.py
  scripts/macro_discovery.py
  scripts/schemas/macro_analysis_analysis_schema.json
  scripts/schemas/macro_analysis_discovery_schema.json
  scripts/schemas/macro_analysis_validation_schema.json
  scripts/utils/dasv_cross_validator.py
  scripts/utils/data_quality_monitor.py
Due: none

Add documentation owner command and cleanup legacy docs
  .claude/commands/documentation_owner.md
  docs/CLI_SERVICES_OPTIMIZATION_SUMMARY.md
  docs/Claude Code hooks configuration troubleshooting guide.md
  docs/Deep Python Engineering Analysis - Corrected Architecture Assessment.md
  docs/Fundamental Analysis vs Sector Analysis.md
  docs/MEMORY_LEAK_OPTIMIZATION_SUMMARY.md
  docs/System Architecture Overview.md
  docs/api_integration_plan.md
  docs/claude_code_protcolversion_validation_bug.md
  docs/plotly_migration_guide.md
Due: none

Execute DASV Phase 3 macro-economic synthesis for Europe region
  data/outputs/macro_analysis/europe_20250814.md
  data/outputs/macro_analysis/metadata/europe_20250814_synthesis_metadata.json
Due: none

Apply pre-commit formatting fixes to CME analysis files
  data/outputs/fundamental_analysis/CME_20250812.md
  data/outputs/fundamental_analysis/analysis/CME_20250812_analysis.json
  data/outputs/fundamental_analysis/discovery/CME_20250812_discovery.json
Due: none

Add comprehensive data dependency system and financial analysis outputs
  .claude/commands/comparative_analysis/analyze.md
  .claude/commands/visualizer.md
  data/outputs/comparative_analysis/NFLX_vs_ROKU_20250815.md
  data/outputs/comparative_analysis/analysis/NFLX_vs_ROKU_20250815_analysis.json
  data/outputs/comparative_analysis/discovery/NFLX_vs_ROKU_20250815_discovery.json
  data/outputs/comparative_analysis/validation/NFLX_vs_ROKU_20250815_validation.json
  data/outputs/fundamental_analysis/ROKU_20250815.md
  data/outputs/fundamental_analysis/analysis/ROKU_20250815_analysis.json
  data/outputs/fundamental_analysis/discovery/ROKU_20250815_discovery.json
  data/outputs/fundamental_analysis/validation/ROKU_20250815_validation.json
  frontend/public/data/raw/stocks/AAPL/daily.csv
  frontend/src/README-DataDependencySystem.md
  frontend/src/config/chart-data-dependencies.json
  frontend/src/config/photo-booth.json
  frontend/src/content/pages/charts.mdx
  frontend/src/hooks/useEnhancedPortfolioData.ts
  frontend/src/layouts/components/charts/DataStatusDashboard.tsx
  frontend/src/layouts/components/charts/DataStatusIndicator.tsx
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/layouts/helpers/ScrollFadeHandler.tsx
  frontend/src/pages/index.astro
  frontend/src/services/CLIServiceIntegration.ts
  frontend/src/services/ChartDataService.ts
  frontend/src/services/DataDependencyManager.ts
  frontend/src/services/EnhancedChartDataService.ts
  frontend/src/services/FileSystemMonitor.ts
  frontend/src/test/components/DataStatusIndicator.test.tsx
  frontend/src/types/ChartTypes.ts
  frontend/src/types/DataDependencyTypes.ts
  frontend/tsconfig.tsbuildinfo
  frontend/vitest.unit.config.ts
Due: prettier-frontend, eslint-frontend

Enhance data dependency system with comprehensive testing infrastructure
  .claude/commands/visualizer.md
  data/outputs/comparative_analysis/NFLX_vs_ROKU_20250815.md
  data/outputs/comparative_analysis/analysis/NFLX_vs_ROKU_20250815_analysis.json
  data/outputs/comparative_analysis/discovery/NFLX_vs_ROKU_20250815_discovery.json
  data/outputs/comparative_analysis/validation/NFLX_vs_ROKU_20250815_validation.json
  data/outputs/fundamental_analysis/ROKU_20250815.md
  data/outputs/fundamental_analysis/analysis/ROKU_20250815_analysis.json
  data/outputs/fundamental_analysis/discovery/ROKU_20250815_discovery.json
  data/outputs/fundamental_analysis/validation/ROKU_20250815_validation.json
  frontend/public/data/raw/stocks/AAPL/daily.csv
  frontend/src/README-DataDependencySystem.md
  frontend/src/config/chart-data-dependencies.json
  frontend/src/config/photo-booth.json
  frontend/src/hooks/useEnhancedPortfolioData.ts
  frontend/src/layouts/components/charts/DataStatusDashboard.tsx
  frontend/src/layouts/components/charts/DataStatusIndicator.tsx
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/layouts/helpers/ScrollFadeHandler.tsx
  frontend/src/pages/index.astro
  frontend/src/services/CLIServiceIntegration.ts
  frontend/src/services/ChartDataService.ts
  frontend/src/services/DataDependencyManager.ts
  frontend/src/services/EnhancedChartDataService.ts
  frontend/src/services/FileSystemMonitor.ts
  frontend/src/test/components/DataStatusIndicator.test.tsx
  frontend/src/test/photo-booth/e2e/performance-benchmarks.test.ts
  frontend/src/types/DataDependencyTypes.ts
  frontend/tsconfig.tsbuildinfo
  frontend/vitest.unit.config.ts
Due: prettier-frontend, eslint-frontend

Fix ESLint errors and cleanup unused variables
  frontend/src/hooks/useEnhancedPortfolioData.ts
  frontend/src/layouts/components/charts/DataStatusIndicator.tsx
  frontend/src/services/EnhancedChartDataService.ts
  frontend/src/services/FileSystemMonitor.ts
  frontend/src/test/photo-booth/e2e/performance-benchmarks.test.ts
Due: prettier-frontend, eslint-frontend

Add comprehensive financial analysis content and pipeline enhancements
  config/pipelines/dashboard_generation.yaml
  frontend/public/data/raw/stocks/BTC-USD/daily.csv
  frontend/public/data/raw/stocks/QQQ/daily.csv
  frontend/public/data/raw/stocks/SPY/daily.csv
  frontend/public/images/banner.png
  frontend/public/images/call-to-action.png
  frontend/public/images/comparative_analysis/MRK_vs_TMO_20250818.png
  frontend/public/images/comparative_analysis/TSLA_vs_NIO_20250819.png
  frontend/public/images/logo-darkmode.png
  frontend/public/images/logo.png
  frontend/public/images/sector_analysis/HEALTHCARE_20250818.png
  frontend/public/images/service-1.png
  frontend/public/images/service-2.png
  frontend/public/images/service-3.png
  frontend/public/images/tradingview/AI_INFRASTRUCTURE_20250814.png
  frontend/public/images/tradingview/AUTO_MANUFACTURERS_20250819.png
  frontend/src/content/blog/ai-infrastructure-industry-analysis-20250814.md
  frontend/src/content/blog/auto-manufacturers-industry-analysis-20250819.md
  frontend/src/content/blog/healthcare-sector-analysis-20250818.md
  frontend/src/content/blog/mrk-vs-tmo-comparative-analysis-20250818.md
  frontend/src/content/blog/tsla-vs-nio-comparative-analysis-20250819.md
  frontend/src/test/photo-booth/e2e/performance-benchmarks.test.ts
  scripts/cli_service_script.py
  scripts/cli_wrapper.py
  scripts/data_pipeline_manager.py
  scripts/services/alpha_vantage.py
  scripts/services/base_financial_service.py
  scripts/services/coingecko.py
  scripts/services/fmp.py
  scripts/services/fred_economic.py
  scripts/services/imf.py
  scripts/services/sec_edgar.py
  scripts/services/yahoo_finance.py
Due: prettier-frontend, eslint-frontend

Enhance financial analysis content and data pipeline services
  frontend/src/content/blog/ai-infrastructure-industry-analysis-20250814.md
  frontend/src/content/blog/auto-manufacturers-industry-analysis-20250819.md
  frontend/src/content/blog/healthcare-sector-analysis-20250818.md
  frontend/src/content/blog/mrk-vs-tmo-comparative-analysis-20250818.md
  frontend/src/content/blog/tsla-vs-nio-comparative-analysis-20250819.md
  frontend/src/test/e2e/error-handling.test.ts
  scripts/cli_service_script.py
  scripts/cli_wrapper.py
  scripts/data_pipeline_manager.py
  scripts/services/alpha_vantage.py
  scripts/services/base_financial_service.py
  scripts/services/coingecko.py
  scripts/services/fmp.py
  scripts/services/fred_economic.py
  scripts/services/sec_edgar.py
  scripts/services/yahoo_finance.py
Due: prettier-frontend, eslint-frontend

Enhance testing infrastructure and chart status management
  frontend/package.json
  frontend/public/data/raw/stocks/AAPL/daily.csv
  frontend/public/data/raw/stocks/BTC-USD/daily.csv
  frontend/public/data/raw/stocks/QQQ/daily.csv
  frontend/public/data/raw/stocks/SPY/daily.csv
  frontend/src/content/pages/charts.mdx
  frontend/src/layouts/shortcodes/ChartDisplay.tsx
  frontend/src/test/SearchModal.test.tsx
  frontend/src/test/components/DashboardRenderer.test.tsx
  frontend/src/test/components/PhotoBoothDisplay.test.tsx
  frontend/src/test/featureFlags.test.ts
  frontend/src/test/hooks/useFeatureFlag.test.tsx
  frontend/src/test/setup.ts
  frontend/src/types/ChartTypes.ts
  frontend/vitest.e2e.config.ts
  frontend/yarn.lock
  scripts/active_chart_requirements.py
  scripts/chart_status_manager.py
  scripts/cli_contract_validator.py
  scripts/cli_wrapper.py
  scripts/data_contract_discovery.py
  scripts/data_pipeline_manager.py
  scripts/logging_config.py
  scripts/script_registry.py
  scripts/services/base_financial_service.py
  scripts/trade_history_cli.py
Due: prettier-frontend, eslint-frontend

Fix mypy type errors in active chart requirements detector
  scripts/active_chart_requirements.py
Due: none

Enhance chart data management with dependency tracking and stock data integration
  docs/04-photo-booth-dashboard.md
  docs/04-photo-booth-testing.md
  frontend/public/data/raw/stocks/AAPL/daily.csv
  frontend/public/data/raw/stocks/MSTR/daily.csv
  frontend/src/config/chart-data-dependencies.json
  frontend/src/config/symbol-metadata.json
  frontend/src/content/pages/charts.mdx
  frontend/src/hooks/useEnhancedPortfolioData.ts
  frontend/src/hooks/usePortfolioData.ts
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/layouts/shortcodes/ChartDisplay.tsx
  frontend/src/services/ChartDataService.ts
  frontend/src/services/DataDependencyManager.ts
  frontend/src/types/ChartTypes.ts
  frontend/src/types/DataDependencyTypes.ts
  scripts/active_chart_requirements.py
  scripts/chart_data_dependency_manager.py
  scripts/copy_stock_data.py
  scripts/data/raw/metadata.json
  scripts/data/raw/stocks/AAPL/daily.csv
  scripts/data/raw/stocks/AAPL/daily.meta.json
  scripts/data/raw/stocks/MSTR/daily.csv
  scripts/data/raw/stocks/MSTR/daily.meta.json
  scripts/data_pipeline_manager.py
Due: prettier-frontend, eslint-frontend

Apply code formatting and linting fixes
  frontend/src/config/symbol-metadata.json
  frontend/src/hooks/usePortfolioData.ts
  frontend/src/layouts/components/charts/PortfolioChart.tsx
  frontend/src/services/ChartDataService.ts
  frontend/src/services/DataDependencyManager.ts
  scripts/active_chart_requirements.py
  scripts/chart_data_dependency_manager.py
  scripts/copy_stock_data.py
  scripts/data/raw/metadata.json
  scripts/data/raw/stocks/AAPL/daily.csv
  scripts/data/raw/stocks/AAPL/daily.meta.json
  scripts/data/raw/stocks/MSTR/daily.csv
  scripts/data/raw/stocks/MSTR/daily.meta.json
  scripts/data_pipeline_manager.py
Due: prettier-frontend, eslint-frontend

Fix code formatting in data pipeline manager
  scripts/data_pipeline_manager.py
Due: none

Reorganize data directory structure and clean up cache management
  .gitignore
  data/outputs/macro_analysis_demo.json
  scripts/cache_optimization.py
  scripts/copy_stock_data.py
  scripts/data/raw/collection_state.json
  scripts/data/raw/metadata.json
  scripts/data/raw/quarterly_triggers.json
  scripts/data/raw/stocks/AAPL/daily.csv
  scripts/data/raw/stocks/AAPL/daily.meta.json
  scripts/data/raw/stocks/MSTR/daily.csv
  scripts/data/raw/stocks/MSTR/daily.meta.json
  scripts/data/raw/stocks/TSLA/daily.csv
  scripts/data/raw/stocks/TSLA/daily.meta.json
  scripts/data/raw/stocks/TSLA/financials.json
  scripts/data/raw/stocks/TSLA/financials.meta.json
  scripts/data/raw/stocks/TSLA/fundamentals.json
  scripts/data/raw/stocks/TSLA/fundamentals.meta.json
  scripts/data/raw/stocks/TSLA/weekly.csv
  scripts/data/raw/stocks/TSLA/weekly.meta.json
  scripts/services/base_financial_service.py
  scripts/utils/historical_data_manager.py
Due: none

Apply black formatting to service and utility files
  scripts/services/base_financial_service.py
  scripts/utils/historical_data_manager.py
Due: none

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md|astro)$
  eslint-frontend: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  feature-flag-validation: any of: ^frontend/(\.env\.|netlify\.toml|src/config/feature-flags\.config\.ts|astro\.config\.mjs)
