Repository ColeMorton/sensylate: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint-frontend, feature-flag-validation

.pre-commit-config.yaml:

# Pre-commit configuration for Sensylate multi-component system
# Enforces code quality for Python data processing and TypeScript frontend

repos:
  # Python code quality
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: ^scripts/.*\.py$
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^scripts/.*\.py$
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: ^scripts/.*\.py$
        args: ["--max-line-length=120", "--extend-ignore=E203,W503,E501,E402"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.0
    hooks:
      - id: mypy
        files: ^scripts/.*\.py$
        additional_dependencies: [types-PyYAML, pandas-stubs, types-requests]
        args: ["--config-file=mypy.ini"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        files: ^scripts/.*\.py$
        args: ["-r", "-f", "json", "--skip", "B404,B603,B607"]
        exclude: ^scripts/.*test.*\.py$

  # Frontend TypeScript/JavaScript quality
  - repo: local
    hooks:
      - id: prettier-frontend
        name: prettier (frontend)
        entry: bash -c 'cd frontend && yarn format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md|astro)$
        pass_filenames: false

      - id: eslint-frontend
        name: eslint (frontend)
        entry: bash -c 'cd frontend && yarn lint'
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: feature-flag-validation
        name: feature flag consistency validation
        entry: bash -c 'cd frontend && yarn flags:validate-quick'
        language: system
        files: ^frontend/(\.env\.|netlify\.toml|src/config/feature-flags\.config\.ts|astro\.config\.mjs)
        pass_filenames: false
        verbose: true

  # YAML configuration validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^configs/.*\.yaml$
        args: ["-d", "relaxed"]

  # General file formatting and validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/.*\.(md|mdx)$
      - id: end-of-file-fixer
        exclude: ^frontend/.*\.(md|mdx)$
      - id: check-yaml
        files: ^configs/.*\.yaml$
      - id: check-json
        files: ^frontend/src/config/.*\.json$
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # Security scanning for dependencies
  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: requirements.*\.txt$

# Configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: "3.3.0"

# Performance optimization
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Add comprehensive fundamental analysis reports for QCOM and VRSN
  data/outputs/fundamental_analysis/QCOM_20250907.md
  data/outputs/fundamental_analysis/VRSN_20250907.md
  data/outputs/fundamental_analysis/analysis/QCOM_20250907_analysis.json
  data/outputs/fundamental_analysis/analysis/VRSN_20250907_analysis.json
  data/outputs/fundamental_analysis/discovery/QCOM_20250907_discovery.json
  data/outputs/fundamental_analysis/discovery/VRSN_20250907_discovery.json
Due: none

Clean up macro analysis blog content formatting
  frontend/src/content/blog/europe-macro-analysis-20250905.md
  frontend/src/content/blog/global-macro-analysis-20250906.md
Due: prettier-frontend

Add Bitcoin cycle intelligence dashboard with enhanced data pipeline
  data/outputs/photo-booth/bitcoin_cycle_intelligence_light_16x9_png_300dpi_20250909_073453.png
  frontend/public/data/dashboards.json
  frontend/public/data/raw/stocks/AAPL/daily.csv
  frontend/public/data/raw/stocks/BTC-USD/daily.csv
  frontend/public/data/raw/stocks/MSTR/daily.csv
  frontend/puppeteer_script_20250909_073242.cjs
  frontend/puppeteer_script_20250909_073302.cjs
  frontend/puppeteer_script_20250909_073315.cjs
  frontend/puppeteer_script_20250909_073359.cjs
  frontend/puppeteer_script_20250909_073412.cjs
  frontend/src/config/chart-data-dependencies.json
  frontend/src/config/photo-booth.json
  frontend/src/content.config.ts
  frontend/src/content/dashboards/bitcoin-cycle-intelligence.mdx
  frontend/src/content/dashboards/fundamental-analysis.mdx
  frontend/src/hooks/useEnhancedPortfolioData.ts
  frontend/src/layouts/components/fundamentals/FundamentalAnalysisDashboard.tsx
  frontend/src/layouts/shortcodes/ChartDisplay.tsx
  frontend/src/layouts/shortcodes/PhotoBoothDisplay.tsx
  frontend/src/lib/dashboardLoader.ts
  frontend/src/pages/api/dashboards.json.ts
  frontend/src/services/ChartDataService.ts
  frontend/src/services/EnhancedChartDataService.ts
  frontend/src/services/dashboardLoader.ts
  frontend/src/types/ChartTypes.ts
  scripts/data_pipeline_manager.py
  scripts/export_with_server.sh
  scripts/generate_dashboard_configs.py
Due: prettier-frontend, eslint-frontend

Implement unified chart data architecture and enhance dashboard system
  data/outputs/photo-booth/bitcoin_cycle_intelligence_light_16x9_png_300dpi_20250909_075243.png
  data/outputs/photo-booth/bitcoin_cycle_intelligence_light_16x9_png_300dpi_20250909_085040.png
  data/outputs/photo-booth/portfolio_history_portrait_light_3x4_png_300dpi_20250909_085113.png
  frontend/public/data/dashboards.json
  frontend/public/data/raw/stocks/AAPL/daily.csv
  frontend/public/data/raw/stocks/BTC-USD/daily.csv
  frontend/public/data/raw/stocks/MSTR/daily.csv
  frontend/puppeteer_script_20250909_074939.cjs
  frontend/puppeteer_script_20250909_075356.cjs
  frontend/src/charts/README.md
  frontend/src/charts/btc-price/chart.config.ts
  frontend/src/charts/btc-price/data-adapter.ts
  frontend/src/charts/chart-config.schema.ts
  frontend/src/charts/chart-registry.ts
  frontend/src/content/dashboards/bitcoin-cycle-intelligence.mdx
  frontend/src/content/dashboards/fundamental-analysis.mdx
  frontend/src/content/dashboards/portfolio-analysis.mdx
  frontend/src/content/dashboards/portfolio-history-portrait.mdx
  frontend/src/content/dashboards/trading-performance.mdx
  frontend/src/hooks/useUnifiedChartData.ts
  frontend/src/layouts/components/dashboard/ConfigurableDashboardRenderer.tsx
  frontend/src/layouts/components/dashboard/DashboardFooter.tsx
  frontend/src/layouts/components/dashboard/DashboardHeader.tsx
  frontend/src/layouts/shortcodes/ChartDisplay.tsx
  frontend/src/layouts/shortcodes/PhotoBoothDisplay.tsx
  frontend/src/services/ChartDataService.legacy.ts
  frontend/src/services/README-UnifiedDataService.md
  frontend/src/services/UnifiedChartDataService.ts
  frontend/src/types/DashboardLayoutTypes.ts
  scripts/chart-configs.json
  scripts/data_pipeline_manager.py
  scripts/export_with_server.sh
  scripts/extract-chart-configs.js
  scripts/generate_dashboard_configs.py
Due: prettier-frontend, eslint-frontend

Remove chart shadows in dashboard and photo-booth contexts
  frontend/public/data/dashboards.json
  frontend/src/charts/README.md
  frontend/src/charts/btc-price/chart.config.ts
  frontend/src/charts/btc-price/data-adapter.ts
  frontend/src/charts/chart-config.schema.ts
  frontend/src/charts/chart-registry.ts
  frontend/src/hooks/useUnifiedChartData.ts
  frontend/src/layouts/components/charts/ChartContainer.tsx
  frontend/src/layouts/components/dashboard/ConfigurableDashboardRenderer.tsx
  frontend/src/layouts/components/dashboard/DashboardFooter.tsx
  frontend/src/layouts/components/dashboard/DashboardHeader.tsx
  frontend/src/layouts/shortcodes/PhotoBoothDisplay.tsx
  frontend/src/services/ChartDataService.legacy.ts
  frontend/src/services/README-UnifiedDataService.md
  frontend/src/services/UnifiedChartDataService.ts
  frontend/src/types/DashboardLayoutTypes.ts
  scripts/chart-configs.json
  scripts/extract-chart-configs.js
  scripts/generate_dashboard_configs.py
Due: prettier-frontend, eslint-frontend

Apply code formatting improvements
  frontend/src/charts/btc-price/data-adapter.ts
  frontend/src/hooks/useUnifiedChartData.ts
  frontend/src/layouts/components/charts/ChartContainer.tsx
  frontend/src/services/UnifiedChartDataService.ts
Due: prettier-frontend, eslint-frontend

Add comprehensive Palantir (PLTR) fundamental analysis with economic context
  data/outputs/fundamental_analysis/PLTR_20250910.md
  data/outputs/fundamental_analysis/analysis/PLTR_20250909_analysis.json
  data/outputs/fundamental_analysis/discovery/PLTR_20250909_discovery.json
  data/outputs/fundamental_analysis/validation/PLTR_20250910_validation.json
  frontend/src/content/contact/-index.md
Due: prettier-frontend

Reorganize Bitcoin data structure and cleanup test artifacts
  frontend/public/data/raw/stocks/BITCOIN/daily.csv
  frontend/public/data/raw/stocks/BTC-USD/direct_test.backup.csv
  frontend/public/data/raw/stocks/BTC-USD/direct_test.csv
  frontend/public/data/raw/stocks/BTC-USD/node_spawned_test.backup.csv
  frontend/public/data/raw/stocks/BTC-USD/node_spawned_test.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_100kb.backup.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_100kb.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_200kb.backup.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_200kb.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_300kb.backup.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_300kb.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_370kb.backup.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_370kb.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_400kb.backup.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_400kb.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_500kb.backup.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_500kb.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_640kb.backup.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_640kb.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_800kb.backup.csv
  frontend/public/data/raw/stocks/BTC-USD/size_test_800kb.csv
  frontend/src/charts/btc-price/chart.config.ts
  frontend/src/content.config.ts
  frontend/src/content/blog/bitcoin-cycle-intelligence-20250907.md
  frontend/src/layouts/PostSingle.astro
  frontend/src/layouts/components/ImageMod.astro
  frontend/src/layouts/helpers/BlogChartEnhancer.tsx
  frontend/src/layouts/helpers/ChartLightbox.tsx
  frontend/src/types/BlogChartTypes.ts
  scripts/chart-registry-sync.json
  scripts/data-mappings.json
  scripts/pipeline-data-mappings.json
Due: prettier-frontend, eslint-frontend

Complete removal of blog chart enhancement functionality
  frontend/src/layouts/PostSingle.astro
  frontend/src/layouts/components/ImageMod.astro
  frontend/src/layouts/helpers/BlogChartEnhancer.tsx
  frontend/src/layouts/helpers/ChartLightbox.tsx
  frontend/src/layouts/helpers/PlotlyChart.tsx
  frontend/src/types/BlogChartTypes.ts
Due: prettier-frontend, eslint-frontend

Fix formatting in PostSingle.astro
  frontend/src/layouts/PostSingle.astro
Due: prettier-frontend

Configure theme system: enable dark theme by default and hide theme switcher in production
  frontend/.env.production
  frontend/package.json
  frontend/public/images/bitcoin/bitcoin-cycle-min.png
  frontend/scripts/generate-env-files.js
  frontend/scripts/validate-flags.js
  frontend/src/config/feature-flags.config.ts
  frontend/src/config/menu.json
  frontend/src/content.config.ts
  frontend/src/content/about/-index.md
  frontend/src/content/resume/-index.md
  frontend/src/layouts/helpers/PlotlyChart.tsx
  frontend/src/layouts/partials/Header.astro
  frontend/src/lib/config.ts
  frontend/src/pages/resume.astro
  frontend/src/test/photo-booth/e2e/globalSetup.ts
  frontend/src/test/photo-booth/e2e/light-theme-logo.test.ts
  frontend/src/types/index.d.ts
  frontend/yarn.lock
  linked_in_about_v_3.md
Due: prettier-frontend, eslint-frontend, feature-flag-validation

Publish Bitcoin cycle intelligence analysis and clean up source files
  frontend/src/content/blog/bitcoin-cycle-intelligence-20250907.md
  linked_in_about_v_3.md
Due: prettier-frontend

Update about page title to be more personal and welcoming
  frontend/src/content/about/-index.md
Due: prettier-frontend

Disable theme switcher in production environment
  frontend/netlify.toml
  frontend/netlify.toml.backup
  frontend/scripts/generate-netlify-config.js
Due: prettier-frontend, feature-flag-validation

Implement universal feature flag configuration loader to eliminate duplication
  frontend/.env.production
  frontend/netlify.toml
  frontend/netlify.toml.backup
  frontend/scripts/generate-env-files.js
  frontend/scripts/generate-netlify-config.js
  frontend/scripts/validate-flags.js
  frontend/src/lib/flagLoader.js
Due: prettier-frontend, eslint-frontend, feature-flag-validation

Add comprehensive financial analysis outputs and e2e footer test
  data/outputs/comparative_analysis/analysis/UNH_vs_AES_20250924_analysis.json
  data/outputs/comparative_analysis/discovery/UNH_vs_AES_20250924_discovery.json
  data/outputs/fundamental_analysis/AES_20250924.md
  data/outputs/fundamental_analysis/UNH_20250924.md
  data/outputs/fundamental_analysis/analysis/AES_20250924_analysis.json
  data/outputs/fundamental_analysis/analysis/ATO_20250924_analysis.json
  data/outputs/fundamental_analysis/analysis/NEE_20250924_analysis.json
  data/outputs/fundamental_analysis/analysis/UNH_20250924_analysis.json
  data/outputs/fundamental_analysis/discovery/AES_20250924_discovery.json
  data/outputs/fundamental_analysis/discovery/ATO_20250924_discovery.json
  data/outputs/fundamental_analysis/discovery/NEE_20250924_discovery.json
  data/outputs/fundamental_analysis/discovery/UNH_20250924_discovery.json
  data/outputs/fundamental_analysis/validation/AES_20250924_validation.json
  data/outputs/fundamental_analysis/validation/UNH_20250924_validation.json
  frontend/src/layouts/partials/Footer.astro
  frontend/src/test/e2e/homepage-footer-links.test.ts
Due: prettier-frontend, eslint-frontend
